<p>invoice-list works!</p>
<!-- begin::main -->
<div class="layout-wrapper">

    <app-header></app-header>

    <div class="content-wrapper">

        <!-- end::navigation -->
        <div class="content-body">
            <div class="content">
                <app-breadcrumb [breadCrumb]="breadCrumb"></app-breadcrumb> 
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                
                            <div class="card-body" *ngIf="userData.type == 'system' ">
                                <form [formGroup]="searchInvoiceForm">
                                    <input formControlName="search" class="form-control" (keyup)="searchInvoice()"
                                        placeholder="Search for Invoice by company ID" />
                                </form>
                            </div>
                
                            <div class="card-body">
                                <h2 class="card-title">Invoice List </h2>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table id="order-listing" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>Date</th>
                                                        <th>Company</th>
                                                        <th>Invoice ID</th>
                                                        <th>Order No</th>
                                                        <th>Payment Status</th>
                                                        <th>#Action</th>
                                                    </tr>
                                                </thead>
                                                <div class="col-md-4 offset-md-4">
                                                    <mat-progress-spinner *ngIf="isLoadingInvoice" mode="indeterminate" diameter='30'
                                                        strokeWidth='3'></mat-progress-spinner>
                                                </div>
                                                <tbody *ngIf="invoices.length">
                                                   
                                                    <tr *ngFor="let invoice of invoices; let i = index">
                                                        <td>{{ i+ 1 }}</td>
                                                        <td>{{ invoice.createdAt | date }}</td>
                                                        <td>{{ invoice.company_details.name }}</td>
                                                        <td>{{ invoice.invoice_number }}</td>
                                                        <td>{{ invoice.order_number }}</td>
                                                        <td>
                                                            <label class="badge badge-success"
                                                                *ngIf="invoice.paid == true">paid</label>
                                                            <label class="badge badge-danger"
                                                                *ngIf="invoice.paid == false">Pending</label>
                                                        </td>
                
                                                        <td>
                                                            <a type="button" (click)="getSingleInvoice(invoice)"
                                                                class="btn btn-outline-primary">View</a>
                
                                                            <button *ngIf="userData.type == 'company' " (click)="claim(invoice)"
                                                                class="btn btn-outline-danger" data-toggle="modal">Raise
                                                                Claim
                                                            </button>
                
                                                            <button type="button" (click)="deleteInvoice(invoice)"
                                                                *ngIf="userData.type == 'system' && invoice.paid == false && invoice.order_long_number"
                                                                class="btn btn-outline-danger confirm">Delete</button>
                                                        </td>
                                                    </tr>
                
                                                </tbody>
                                            </table>
                                            <!-- <div class="text-center">
                                                <p>Showing page {{ p.page }} of {{ p.pages }} for {{ p.total }} Invoices
                                                </p>
                                                <div class="pagination">
                                                    {% if p.prev_skip == 0 or p.prev_skip %}
                                                    <a
                                                        href="{% url 'invoice_list' 'all' 'invoices' p.prev_skip limit %}">&laquo;
                                                        Previous</a>
                                                    {% else %}
                                                    <a href="#" class="text-muted">&laquo; Previous</a>
                                                    {% endif %}
                                                    {% if p.next_skip  %}
                                                    <a
                                                        href="{% url 'invoice_list' 'all' 'invoices' p.next_skip limit %}">&laquo;
                                                        Next</a>
                                                    {% else %}
                                                    <a href="#" class="text-muted">&laquo; Next</a>
                                                    {% endif %}
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>