<!-- begin::main -->
<div class="layout-wrapper">
    <div class="content-wrapper">

        <!-- end::navigation -->
        <div class="content-body">
            <div class="content">
                <app-breadcrumb [breadCrumb]="breadCrumb"></app-breadcrumb>
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-body">
                                <h4 class="card-title">Purchase Orders <span
                                        style="color: darkred; font-weight: bolder">#{{ order_number }}
                                        <button class="btn btn-primary float-right ml-2" data-toggle="modal"
                                            data-target="#auditTrail">Check Audit Trail</button>


                                        <!-- <button *ngIf="paid == false" class="btn btn-success float-right" (click)="addProduct()">Add new
                                            product</button> -->

                                    </span></h4><br />
                                <p class="card-description" style="font-weight: bolder">
                                    Delivery Address

                                    <a *ngIf="userData.type == 'company' " class="float-right"
                                        style="margin-top: -20px">
                                        <button *ngIf="!isLoadingDetail" (click)="rePurchase()"
                                            class="btn btn-primary">Re-Purchase</button>
                                    </a>
                                </p>

                                <!-- Audit trail modal -->
                                <div class="modal fade" id="auditTrail" tabindex="-1" role="dialog"
                                    aria-labelledby="ModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel">Audit Trail for
                                                    #{{ order_number }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="table-responsive">
                                                    <table id="audit_table" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>S/N</th>
                                                                <th>Name</th>
                                                                <th>Action</th>
                                                                <th>Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of auditTrail; let i= index">
                                                                <td>{{ i+1 }}</td>
                                                                <td>{{ item.name }}</td>
                                                                <td>{{ item.action }}</td>
                                                                <td>{{ item.createdAt }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End modal -->

                                <div class="card card-inverse-info" id="context-menu-simple">
                                    <div class="card-body">
                                        <p class="card-text">
                                            {{ delivery_address }}
                                        </p>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table id="order-listing" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Quantity</th>
                                                        <th>Desc</th>
                                                        <th *ngIf="paid == false">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of orderProducts">
                                                        <td>{{ item.name }}</td>
                                                        <td>{{ item.quantity }}</td>
                                                        <td>{{ item.description }}</td>

                                                        <td *ngIf="paid == false">
                                                            <div class="dropdown">
                                                                <a class="btn btn-outline-lights btn-sm dropdown-toggle"
                                                                    type="button" id="dropdownMenuButton"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false"></a>
                                                                <div class="dropdown-content" style="border: 1px solid #efefef; background: #efefef; position: absolute; left: -69px; text-align: center;">
                                                                    <a (click)="EditOrder(item)">Edit</a>
                                                                    <a (click)="deletePo(item._id)">Delete</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>