<footer class="footer bg-darker text-white">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-lg-6 col-sm-12">
                <img class="mb-4" src="../../../assets/front_end/assets/img/brand/logo.png" style="width: 30%;"/>
                <!-- <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3> -->
                <h5 class="mb-0 font-weight-light text-vendease-p">
                    Online Marketplace for Africa's Food Service Businesses
                </h5>
                <ul class="footer-list list-unstyled mt-3">
                    
                    <a class="text-vendease-p" routerLink="about">
                        <li> About Vendease</li>
                    </a>
                    <a class="text-vendease-p" routerLink="guarantee">
                        <li> Vendease Guarantee</li>
                    </a>
                    <a class="text-vendease-p" routerLink="vendor_register">
                        <li> Vendors</li>
                    </a>
                    <a class="text-vendease-p" target="_blank"  href="http://blog.vendease.co">
                        <li>Blog</li>
                    </a>
                </ul>
                
                <div class="copyright text-center text-lg-left">
                    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://embed.tawk.to/5ebcffe0967ae56c5219aeac/default" charset="UTF-8" crossorigin="*"></script><script>
                        let date = new Date();
                        document.write('<p class="text-vendease-p">&copy; ' + date.getFullYear() + 'Vendease, All right reserved.</p>')
                    </script>
                  
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2 col-sm-6 text-lg-center btn-wrapper">
                <h5 class="text-vendease-p text-left pt-5 mb-3">Contact Us</h5>
                <div class="footer-address-section">
                    <div class="section-item row">
                        <div class="col-10">
                            <p class="text-left text-vendease-p">8 The Providence Street, <br /> Lekki Phase 1,
                                Lagos, Nigeria.</p>
                        </div>
                    </div>
                    <div class="section-item row">

                        <div class="col-10">
                            <p class="text-left">
                                <a routerLink="tel:(234) 8111113316" class="text-vendease-p">08111113316</a>, <br />
                                <!-- <a routerLink="tel:0803-4179-286" class="text-vendease-p">0803-4179-286</a></p> -->
                        </div>
                    </div>
                    <div class="section-item row">
                        <div class="col-10">
                            <p class="text-left text-vendease-p">
                                <a routerLink="mailto:info@vendease.co"
                                    class="text-vendease-p">info@vendease.co</a>
                            </p>
                        </div>
                    </div>
                    <div class="section-item row">
                        <div class="">
                            <ul class="justify-content-center justify-content-lg-end nav nav-footer">
                                <li class="nav-item">
                                    <a class="nav-link nav-link-icon" href="https://instagram.com/vendeaseafrica" target="_blank" data-toggle="tooltip"
                                        title="Like us on instagram">
                                        <img src="../../../../assets/front_end/assets/img/icons/instagram.png"
                                            class="img-icon" />
                                        <span class="nav-link-inner--text d-lg-none">Instagram</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-icon" href="https://twitter.com/VendeaseAfrica" target="_blank" data-toggle="tooltip"
                                        title="Follow us on Twitter">
                                        <img src="../../../../assets/front_end/assets/img/icons/twitter.png" class="img-icon" />
                                        <span class="nav-link-inner--text d-lg-none">Twitter</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-icon" href="https://web.facebook.com/vendeaseAfrica" target="_blank" data-toggle="tooltip"
                                        title="Follow us on Facebook">
                                        <img src="../../../../assets/front_end/assets/img/icons/facebook.png" class="img-icon"
                                            style="width: 11px !important;" />
                                        <span class="nav-link-inner--text d-lg-none">Facebook</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>