<!-- begin::main -->
<div class="layout-wrapper">

    <app-header></app-header>

    <div class="content-wrapper">

        <!-- end::navigation -->
        <div class="content-body">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <div class="card-body">
                                <h2 class="card-title">Company List </h2>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table id="order-listing" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>Company ID</th>
                                                        <th>Company Name</th>
                                                        <th>Admin Fee</th>
                                                        <th>Address</th>
                                                        <th>#Action</th>
                                                    </tr>
                                                </thead>
                                                <div *ngIf="isLoadingCompanyList"
                                                    class="offset-lg-5 offset-md-5 offset-sm-5">
                                                    <mat-progress-spinner mode="indeterminate" diameter='40'
                                                        strokeWidth='3'>
                                                    </mat-progress-spinner>
                                                </div>
                                                <tbody *ngIf="!isLoadingCompanyList">

                                                    <tr *ngFor="let user of compannies; let i=index">
                                                        <td>{{ i+1}}</td>
                                                        <td>#{{ user.company.id || user.company.id}}</td>
                                                        <td>{{ user.company.name ||  user.company}}</td>
                                                        <td>{{  user.company.admin_fee ?  user.company.admin_fee + '%'  : '' }}
                                                        </td>
                                                        <td>{{ user.company.address}}</td>

                                                        <td>

                                                            <div class="dropdown">
                                                                <a class="btn btn-outline-light btn-sm dropdown-toggle"
                                                                    type="button" id="dropdownMenuButton"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false"></a>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton"
                                                                    style="padding: 5px; background: rgba(243, 246, 249); text-align: center; font-family: roboto; font-weight: 700;">

                                                                    <a class="dropdown-item" (click)="viewCompany(user)">View</a>

                                                                    <a class="dropdown-item"  (click)="assignAdminFee(user)">Admin-Fee</a>
                                                                </div>
                                                            </div>

                                                        </td>

                                                    </tr>

                                                </tbody>

                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>