<main>    
    <div class="position-relative">
        <section class="sections section-lg" style="height: 100%; padding-top: 40px !important; background-image: url(../../../assets/front_end/assets/img/theme/custom-section.png); background-size: cover;">

            <div class="container py-md mt-5 pt-100 pb-100">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-10 offset-lg-1 mb-5 mb-lg-0 mt-5">
                        <h1 class="text-white text-center">About Us</h1>
                        <p class="lead text-white mt-4 font-16">
                            Vendease is a platform that makes procurement easier and more transparent for
                            Hotels and Restaurants in Africa. On the Vendease platform, businesses can order
                            anything they want from verified vendors at the best possible prices.
                        </p>
                        <p class="lead text-white mt-4 font-16">
                            Vendease helps businesses grow by financing their procurement - we know how important
                            cashflow is to a business, so we purchase goods for businesses at no initial cost and
                            let you pay
                            us when you’ve made a profit. Our customers love us because we buy anything a business
                            needs, give flexible pricing options, offer next day delivery and provide spending
                            analytics to help
                            them grow. But hey, don’t just take our word for it, hear from our customers.
                        </p>
                    </div>

                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        

<section class="section  section-lg">
<div class="container-fluid">
    <div class="row row-grid justify-content-center">
        <div class="col-md-12">
            <h2 class="display-3 mb-5 text-center text-vendease-p"><strong>We can procure anything</strong>
            </h2>
            <div class="carousel-list col-md-12">
                <div class="slick-carousel slick-initialized slick-slider slick-dotted">

                    <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1254px; transform: translate3d(0px, 0px, 0px);"><div class="slide slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 209px;" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00">
                        <div class="card-outer bg-white rounded text-center">
                            <div class="card-item">
                                <img class="mx-auto" src="../../../assets/front_end/assets/img/icons/bread.png" alt="Drink" style="width: 50px;">
                                <div class="pt-4 text-vendease-p"><strong>Bread</strong></div>
                            </div>
                        </div>
                    </div><div class="slide slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 209px;" tabindex="0" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01">
                        <div class="card-outer bg-white rounded text-center">
                            <div class="card-item">
                                <img class="mx-auto" src="../../../assets/front_end/assets/img/icons/meat.png" alt="Water" style="width: 50px;">
                                <div class="pt-4 text-vendease-p"><strong>Meat</strong></div>
                            </div>
                        </div>
                    </div><div class="slide slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 209px;" tabindex="0" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02">
                        <div class="card-outer bg-white rounded text-center">
                            <div class="card-item">
                                <img class="mx-auto" src="../../../assets/front_end/assets/img/icons/vegetables.png" alt="Meat" style="width: 50px;">
                                <div class="pt-4 text-vendease-p"><strong>Vegetables</strong></div>
                            </div>
                        </div>
                    </div><div class="slide slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 209px;" tabindex="0" role="tabpanel" id="slick-slide03" aria-describedby="slick-slide-control03">
                        <div class="card-outer bg-white rounded text-center">
                            <div class="card-item">
                                <img class="mx-auto" src="../../../assets/front_end/assets/img/icons/water.png" alt="Beverages" style="width: 22px;">
                                <div class="pt-4 text-vendease-p"><strong>Water</strong></div>
                            </div>
                        </div>
                    </div><div class="slide slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 209px;" tabindex="0" role="tabpanel" id="slick-slide04" aria-describedby="slick-slide-control04">
                        <div class="card-outer bg-white rounded text-center">
                            <div class="card-item">
                                <img class="mx-auto" src="../../../assets/front_end/assets/img/icons/grains.png" alt="Cereals" style="width: 50px;">
                                <div class="pt-4 text-vendease-p"><strong>Grains</strong></div>
                            </div>
                        </div>
                    </div><div class="slide slick-slide slick-active" data-slick-index="5" aria-hidden="false" style="width: 209px;" tabindex="0" role="tabpanel" id="slick-slide05" aria-describedby="slick-slide-control05">
                        <div class="card-outer bg-white rounded text-center">
                            <div class="card-item">
                                <img class="mx-auto" src="../../../assets/front_end/assets/img/icons/toiletries.png" alt="Toiletries" style="width: 50px;">
                                <div class="pt-5 text-vendease-p"><strong>Toiletries</strong></div>
                            </div>
                        </div>
                    </div></div></div>
                <ul class="slick-dots" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 1" tabindex="0" aria-selected="true">1</button></li></ul></div>
            </div>
        </div>
    </div>
</div>
</section>
    </div>

</main>