.form-control{
    border-radius: 0px !important;
}

.form-control:not(.form-control-lg):not(.form-control-sm), .swal-modal input.swal-content__input:not(.form-control-lg):not(.form-control-sm){
    height: calc(1.5em + 1.75rem + 3px) !important  ;
}

.input-group-append, .input-group-pr{
    /* border: 1px solid !important; */
}

.input-group-text{
    border: 1px solid;
}