<div class="container-scroller">
   
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-"
        style="background: #E1EFF8; padding: 0px !important;">
        <div class="row flex-grow"
          style="background-image: url(../../../assets/images/auth/register-bg2.jpg); background-size: cover; width: 100% !important;">
          <div class="col-lg-6 col-sm 12 d-flex align-items-center justify-content-center">
            <div class=" col-lg-7 offset-lg-3  col-sm-12">
              <div class="auth-form-transparents text-left p-3 bg-white-grey"
                style="position: relative;  background: #efefee; border-radius:15px;">
                <div class="brand-logo">
                  <a routerLink="index">
                    <img src="../../../assets/front_end/assets/img/brand/logo-white.svg" alt="logo">
                  </a>
                </div>

                <h4 class="mt-4" style="font-size: 1.125rem;">Welcome back!</h4>
                <p class="font-weight-light" style="    font-size: .9375rem !important; font-weight: 300 !important;  margin-top: -15px;;">Happy to see you again!</p>


                <form class="pt-3"  [formGroup]=loginForm>
                 
                  <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                          <i class="ti-user text-primary"></i>
                        </span>
                      </div>
                      <input type="email"  class="form-control2 form-control-lg border-left-0"
                        placeholder="Email" formControlName="email"
                        [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                          <i class="ti-lock text-primary"></i>
                        </span>
                      </div>
                      <input type="password"  class="form-control2 form-control-lg border-left-0"
                        placeholder="Password" formControlName="password"  [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
                    </div>
                  </div>
                  <div class="my-2 d-flex justify-content-between align-items-center">

                    <a routerLink="forgot_password" class="auth-link text-black">Forgot password?</a>
                  </div>
                  <div class="my-3">
                    <button type="submit"
                      class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"  [disabled]="loginForm.invalid" color="primary"  shape="round" expand="full" (click)="signIn()">LOGIN</button>
                  </div>
                  <div class="text-center mt-4 font-weight-light">
                    Don't have an account? <br />
                    <a routerLink="/register" class="text-primary">Sign Up as Business</a> |
                    <a routerLink="/vendor_register" class="text-primary">Sign up as vendor</a>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>