<!-- BEGIN: Sidebar Group -->
<div class="sidebar-group">

    <!-- BEGIN: Settings -->
    <div class="sidebar" id="settings">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Settings</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item pl-0 pr-0">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                            <label class="custom-control-label" for="customSwitch1">Allow notifications.</label>
                        </div>
                    </li>
                    <li class="list-group-item pl-0 pr-0">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch2">
                            <label class="custom-control-label" for="customSwitch2">Hide user requests</label>
                        </div>
                    </li>
                    <li class="list-group-item pl-0 pr-0">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
                            <label class="custom-control-label" for="customSwitch3">Speed up demands</label>
                        </div>
                    </li>
                    <li class="list-group-item pl-0 pr-0">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
                            <label class="custom-control-label" for="customSwitch4">Hide menus</label>
                        </div>
                    </li>
                    <li class="list-group-item pl-0 pr-0">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch5">
                            <label class="custom-control-label" for="customSwitch5">Remember next visits</label>
                        </div>
                    </li>
                    <li class="list-group-item pl-0 pr-0">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch6">
                            <label class="custom-control-label" for="customSwitch6">Enable report
                                generation.</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Settings -->

</div>
<!-- END: Sidebar Group -->

    <!-- begin::header -->
    <div class="header d-print-none">

        <div class="header-left">
            <div class="navigation-toggler">
                <a href="#" data-action="navigation-toggler">
                    <i class="menu"></i>
                </a>
            </div>
            <div class="header-logo">
                <a href=dashboard>
                    <img class="logo" src="../../../assets/dashboard/assets/media/image/logo_.svg" alt="logo">
                    <img class="logo-dashboard" src=" ../../../assets/dashboard/assets/media/image/logo_.svg"
                        alt="dashboard logo">
                </a>
            </div>
        </div>

        <div class="header-body">
            <div class="header-body-left">
                <div class="page-title">
                    <h4>Dashboard</h4>
                </div>
            </div>
            <div class="header-body-right text-black-50">
                <ul class="navbar-nav">
                    <!-- begin::header search -->
                    <li class="nav-item text-black-50 mr-3">
                        <a href="change_password" class="text-primary" data-toggle="tooltip" data-placement="top"
                            title="My Settings">
                            <i class="user"></i>
                        </a>
                    </li>

                    <li class="nav-item text-black-50 mr-3">
                        <a href="settings" class="text-primary" data-toggle="tooltip" data-placement="top"
                            title="System Settings">
                            <i class="settings"></i>
                        </a>
                    </li>

                    <li class="nav-item text-black-50">
                        <a href="sign_out" class="text-danger" data-toggle="tooltip" data-placement="top"
                            title="Logout">
                            <i class="log-out"></i>
                        </a>
                    </li>
                    <!-- end::header search -->
                </ul>

                <!-- begin::mobile header toggler -->
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item header-toggler">
                        <a href="#" class="nav-link">
                            <i class="arrow-down"></i>
                        </a>
                    </li>
                </ul>
                <!-- end::mobile header toggle -->
            </div>
        </div>

    </div>
    <!-- end::header -->