<!-- begin::navigation -->
<div class="navigation" style="width: 195px;">

    <div class="navigation-menu-tab" style="width: 100%;">
        <img class="profile-image m-t-b-20" src="{{ avatar }}" alt="Profile" />
        <ul style="padding-left: 4%;">
            <li>
                <a routerLink="/dashboard" style="justify-content: left;" class="active" data-placement="right"
                    title="Dashboard" data-nav-target="#dashboard">
                    <i class="feather-monitor" style="margin-right: 5px"> </i> Dashboard
                </a>
            </li>
            <li>
                <button routerLink="/create-purchase" class="btn btn-order" style="background: #40E5BF; border-radius:34px; color: #ffffff; text-transform: capitalize;">
                    <!-- <i class="feather-shopping-cart" style="margin-right: 5px"> </i> -->
                    Order Now
                </button>
            </li>

            <li>
                <a routerLink="/purchase-order" style="justify-content: left;" class="active" data-placement="right"
                    title="All Orders" data-nav-target="#dashboard">
                    <i class="feather-list" style="margin-right: 5px"> </i>All Orders
                </a>
            </li>
            <li>
                <a routerLink="/purchase-order" style="justify-content: left;" class="active" data-placement="right"
                    title="Reorders" data-nav-target="#dashboard">
                    <i class="feather-bookmark" style="margin-right: 5px"> </i>Reorder
                </a>
            </li>

            <li>
                <a style="justify-content: left;" href="#" data-toggle="tooltip" data-placement="left" title="Products"
                    data-nav-target="#products">
                    <i class="feather-database" style="margin-right: 5px"> </i> Products
                </a>

            </li>

            <li>
                <a style="justify-content: left;" routerLink="invoice-list" data-toggle="tooltip" data-placement="right"
                    title="Receipt/Invoice" data-placement="right" data-nav-target="#dashboard">
                    <i class="feather-edit-3" style="margin-right: 5px"> </i> Invoice
                </a>
            </li>

            <li>
                <a style="justify-content: left;" routerLink="delivery-list" data-toggle="tooltip"
                    data-placement="right" title="Delivery" data-nav-target="#dashboard">
                    <i class="feather-truck" style="margin-right: 5px"> </i> Delivery
                </a>
            </li>

            <li>
                <a style="justify-content: left;" routerLink="claim-list" data-toggle="tooltip" data-placement="right"
                    title="Claim" data-nav-target="#dashboard">
                    <i class="feather-shopping-bag" style="margin-right: 5px"> </i> Claim
                </a>
            </li>

            <li>
                <a style="justify-content: left;" routerLink="report" data-toggle="tooltip" data-placement="right"
                    title="Report" data-nav-target="#dashboard">
                    <i class="feather-gift" style="margin-right: 5px"> </i> Report
                </a>
            </li>

            <li>
                <a style="justify-content: left;" class="text-left" routerLink="/user-list" data-toggle="tooltip"
                    data-placement="right" data-nav-target="#dashboard" title="Users">
                    <i class="feather-users" style="margin-right: 5px"> </i> Users
                </a>

            </li>

            <li *ngIf="userData.type == 'system'">
                <a style="justify-content: left;" routerLink="company-list" data-toggle="tooltip" data-placement="right"
                    data-nav-target="#dashboard" title="Companies">
                    <i class="feather-user-check" style="margin-right: 5px"> </i> Company
                </a>
            </li>

            <li *ngIf="userData.type == 'system'">
                <a style="justify-content: left;" routerLink="supplier-list" data-toggle="tooltip"
                    data-placement="right" data-nav-target="#dashboard" title="Suppliers">
                    <i class="feather-user-plus" style="margin-right: 5px"> </i> Suppliers
                </a>
            </li>

        </ul>
    </div>

    <div class="navigation-menu-body text-white" style="width: 100%">
        <div class="navigation-menu-group" style="color: #ffffff !important;">
            <div id="dashboard">
                <ul>
                    <!-- <li> <a class="active" routerLink="dashboard">Dashboard</a></li> -->
                    <div class="">
                        <div class="col-md-10 offset-md-1">
                            <!-- <div class="border-cover" style="position:relative">
                                <img class="profile-image m-t-b-20" src="{{ avatar }}" alt="Profile" />

                                <div style="position:absolute;margin-left: 53px;margin-top:-20px;"
                                    data-toggle="tooltip">
                                    <i class="fa fa-camera text-black position-absolute"></i>
                                    <form [formGroup]="avatarForm">

                                        <!-- <input type="file" name="avatar" id="avatar" class="custom-file-input" /> -->
                                        <!-- <input formControlName="avatar" id="avatar" type="file" -->
                                            <!-- class="custom-file-input" (change)="onFileChange($event)"> -->
                                        <!-- <button type="submit" name="btn-avatar" id="btn-avatar" class="btn btn-primary" -->
                                            <!-- hidden></button> -->
                                    <!-- </form> -->
                                <!-- </div> -->
                            <!-- </div> --> 

                            <!-- <h4 class="m-t-30 text-white"></h4> -->

                            <!-- <p class="text-white ml-2" style="margin-top: -12px;">Systems</p> -->

                            <!-- <p class="text-white ml-2" style="margin-top: -12px; font-size: 20px;">{{ name }}</p> -->
                            <!-- <div class="m-t-20">
                                <div class="ml-1">
                                    <p class="text-white text-left"><i class="phone"></i>: <br /></p>
                                    <p class="text-white text-left"><i class="mail"></i>:<br /> </p>

                                </div>
                            </div> -->
                        </div>
                    </div>
                </ul>
            </div>
            <div id="products">
                <ul>
                    <li class="navigation-divider d-flex align-items-center">
                        <i class="mr-2 text-white" class="fa fa-desktop" class="database"></i> Products
                    </li>

                    <li *ngIf="userData != 'vendor' ">
                        <a class="text-white" routerLink="create-product">New Products</a>
                    </li>

                    <li>
                        <a class="text-white" routerLink="product-list">Product List</a>
                    </li>
                </ul>
            </div>
            <div id="p_order">
                <ul>
                    <li class="navigation-divider d-flex align-items-center">
                        <i class="mr-2 text-white" class="list"></i> Purchase Order
                    </li>

                    <li *ngIf="userData != 'vendor' ">
                        <a class="text-white" routerLink="create-purchase">New Purchase Order</a></li>
                    <li>

                        <a class="text-white" routerLink="purchase-order">All Purchase Order</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>