  <!-- begin::navigation -->
  <div class="navigation">
    <div class="navigation-menu-tab" style="width: 35%;">
        <ul>
            <li>
                <a routerLink="/dashboard" style="justify-content: left;">
                    <i class="feather-monitor" style="margin-right: 5px"> </i> Dashboard
                </a>
            </li>
            <li>
                <a style="justify-content: left;" class="text-left" routerLink="/user-list"
                    data-toggle="tooltip" data-placement="right" title="Users">
                    <i class="feather-users" style="margin-right: 5px"> </i> Users
                </a>

            </li>

            <li>
                <a style="justify-content: left;" routerLink="company_vendor_list"
                    data-toggle="tooltip" data-placement="right" title="Suppliers">
                    <i class="feather-user-plus" style="margin-right: 5px"> </i> Suppliers
                </a>
            </li>
            <li>
                <a style="justify-content: left;" routerLink="company_vendor_list"
                    data-toggle="tooltip" data-placement="right" title="Companies">
                    <i class="feather-user-check" style="margin-right: 5px"> </i> Company
                </a>
            </li>

            <li>
                <a style="justify-content: left;" href="#" data-toggle="tooltip" data-placement="right"
                    title="Products" data-nav-target="#products">
                    <i class="feather-database" style="margin-right: 5px"> </i> Products
                </a>

            </li>
            <li>
                <a style="justify-content: left;" routerLink="#" data-toggle="tooltip" data-placement="right"
                    title="Purchase Order" data-nav-target="#p_order">
                    <i class="feather-list" style="margin-right: 5px"> </i> Orders
                </a>
            </li>
            <li>
                <a style="justify-content: left;" routerLink="purchase_order_list' 0 50 %}" data-toggle="tooltip"
                    data-placement="right" title="Reorder">
                    <i class="feather-link" style="margin-right: 5px"> </i> Reorder
                </a>
            </li>

            <li>
                <a style="justify-content: left;" routerLink="invoice_list' 'all' 'invoices' 0 50 %}"
                    data-toggle="tooltip" data-placement="right" title="Receipt/Invoice">
                    <i class="feather-edit-3" style="margin-right: 5px"> </i> Invoice
                </a>
            </li>

            <li>
                <a style="justify-content: left;" routerLink="delivery' 'all' 'delivery' 0 50 %}"
                    data-toggle="tooltip" data-placement="right" title="Delivery">
                    <i class="feather-shopping-bag" style="margin-right: 5px"> </i> Delivery
                </a>
            </li>

            <li>
                <a style="justify-content: left;" routerLink="claim_list" data-toggle="tooltip" data-placement="right"
                    title="Claims">
                    <i class="feather-gift" style="margin-right: 5px"> </i> Claim
                </a>
            </li>
            <li>
                <a style="justify-content: left;" routerLink="user_report" data-toggle="tooltip"
                    data-placement="right" title="Report">
                    <i class="feather-book" style="margin-right: 5px"></i> Report
                </a>
            </li>
        </ul>
    </div>

    <div class="navigation-menu-body text-white" style="width: 100%">
        <div class="navigation-menu-group" style="color: #ffffff !important;">
            <div id="dashboard">
                <ul>
                    <li> <a class="active" routerLink="dashboard">Dashboard</a></li>
                    <div class="">
                        <div class="col-md-10 offset-md-1">
                            <div class="border-cover" style="position:relative">

                                <!-- <img class="profile-image m-t-b-20" src="{{ user_details.user.avatar }}" alt="Profile" /> -->

                                <img class="profile-image m-t-b-20"
                                    src="../../../assets/dashboard/assets/media/image/user_icon.png"
                                    alt="Profile" />

                                <div style="position:absolute;margin-left: 53px;margin-top:-20px;"
                                    data-toggle="tooltip">
                                    <i class="fa fa-camera text-black position-absolute"></i>
                                    <form method="post" action="upload_avatar" enctype="multipart/form-data">

                                        <input type="file" name="avatar" id="avatar"
                                            class="custom-file-input" />
                                        <button type="submit" name="btn-avatar" id="btn-avatar"
                                            class="btn btn-primary" hidden></button>
                                    </form>
                                </div>
                            </div>

                            <h4 class="m-t-30 text-white"></h4>

                            <p class="text-white ml-2" style="margin-top: -12px;">Systems</p>

                            <p class="text-white ml-2" style="margin-top: -12px;"></p>

                            <p class="text-white ml-2" style="margin-top: -12px;"></p>

                            <div class="m-t-20">
                                <div class="ml-1">
                                    <p class="text-white text-left"><i class="phone"></i>: <br /></p>
                                    <p class="text-white text-left"><i class="mail"></i>:<br /> </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            <div id="products">
                <ul>
                    <li class="navigation-divider d-flex align-items-center">
                        <i class="mr-2 text-white" class="fa fa-desktop" class="database"></i> Products
                    </li>

                    <li>
                        <a class="text-white" routerLink="product_create">New Products</a>
                    </li>

                    <li>
                        <a class="text-white" routerLink="product_list' 0 50 %}">Product List</a>
                    </li>
                </ul>
            </div>
            <div id="p_order">
                <ul>
                    <li class="navigation-divider d-flex align-items-center">
                        <i class="mr-2 text-white" class="list"></i> Purchase Order
                    </li>

                    <li>
                        <a class="text-white" routerLink="raise_po">New Purchase Order</a></li>
                    <li>

                        <a class="text-white" routerLink="purchase_order_list' 0 50 %}">All Purchase Order</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>