E<!-- begin::main -->
<div class="layout-wrapper">
    <div class="content-wrapper">

        <!-- end::navigation -->
        <div class="content-body">
            <div class="content" style="padding-top: 50px;">
                <app-breadcrumb [breadCrumb]="breadCrumb" id="breadCrumb"></app-breadcrumb>
                <div class="row" id="exportData">
                    <div class="col-lg-12">
                        <div class="card px-2">
                            <div class="card-body" *ngIf="!isLoadingDetail">
                                <div class="container-fluid">
                                    <h3 class="text-left" id="logo" class="d-block">
                                        <img src="../../../assets/images/logo_print.png" alt="VENDEASE" class="img-responsive"  style="position: relative; width: 150px; top: 130px;">
                                    </h3>
                                    <h3 class="text-right my-5">Invoice ID #{{ invoiceNumber }} <br />
                                        Order ID #{{ order_number }} <br />

                                        <label class="badge badge-success" *ngIf="paid == true ">Paid</label>
                                        <label class="badge badge-danger" *ngIf="paid == false ">Pending Payment</label>


                                        <div *ngIf="paid == false && payment_date && !isLoadingDetail">

                                            <p>Payment Due Date:
                                                <span class="text-danger">{{ payment_date }} </span>
                                            </p>
                                            <p class="text-danger">Payment Overdue by: {{ overDue  }} Days
                                            </p>
                                        </div>

                                    </h3>
                                    <hr>
                                </div>
                                <div class="container-fluid d-flex justify-content-between">
                                    <div class="col-lg-3 pl-0">
                                        <p class="mt-5 mb-2">
                                            Prepared by <b>
                                                <br />Vendease System<br />

                                            </b></p>
                                    </div>
                                    <div class="col-lg-3 pr-0">
                                        <p class="mt-5 mb-2 text-right"><b>Invoice to</b></p>
                                        <p class="text-right">{{ company_details_name    }}<br></p>
                                    </div>
                                </div>
                                <div class="container-fluid d-flex justify-content-between">
                                    <div class="col-lg-3 pl-0">
                                        <p class="mb-0 mt-5">Invoice Date : {{ createdAt | date }}</p>
                                    </div>
                                </div>
                                <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                                    <div class="table-responsive w-100">
                                        <table class="table">
                                            <div hidden id="header-title">
                                                <tr>
                                                    <td> <b> Date:</b> {{ createdAt   }}</td>
                                                    <td> </td>
                                                    <td><b>Invoice ID:</b> {{ invoiceNumber }}</td>
                                                </tr>
                                                <tr>
                                                    <td> <b>Issued to:</b> {{ company_details_name    }} </td>
                                                    <td> </td>
                                                    <td><b>PO ID:</b> {{ order_number }}</td>
                                                </tr>
                                                <tr>
                                                    <td> <b>Delivery Address:</b> {{ delivery_address }}</td>
                                                    <td> </td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <br>
                                            </div>

                                            <thead>
                                                <tr class="">
                                                    <th>Product</th>
                                                    <th>Description</th>
                                                    <th>Quantity</th>
                                                    <th *ngIf="userData.type == 'system'  && discounntTotal == 0 " >Discount</th>
                                                    <th class="text-right">Unit cost</th>
                                                    <th class="text-right">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="items.length">

                                                <tr class="text-right" *ngFor="let item of items; let i = index">
                                                    <td class="text-left">{{ item.name }}</td>
                                                    <td class="text-left">{{ item.description }}</td>
                                                    <td class="text-left">{{ item.quantity }}</td>
                                                    <td class="text-left" *ngIf="userData.type == 'system' && discounntTotal == 0 ">
                                                        <form [formGroup]="DiscountForm">
                                                            <span style="position: relative; top: -6px;" class="text-info" *ngIf="item.discount.discount_type == 'percentage'"> Maximum Discount - {{ item.discount.discount_value }} %</span>
                                                            <span style="position: relative; top: -6px;" class="text-info" *ngIf="item.discount.discount_type == 'value'"> Maximum Discount - #{{ item.discount.discount_value }} </span>    
                                                            <input type="number"   formControlName="discountField_{{ i }}" (keyup)="doCheck(i)"  class="form-control input-xs" />
                                                            <p class="text-danger" style="font-size: 13px; font-weight: 800;" *ngIf="inputCheck > item.discount.discount_value"> Cannot be grater than discount</p>
                                                        </form>
                                                       
                                                      
                                                    </td>
                                                    <td class="text-right">NGN {{ item.price }}</td>
                                                    <td class="text-right">NGN {{ item.total }}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <button class="btn btn-info" (click)="getDiscount()">get discount</button>
                                <div class="container-fluid mt-5 w-100">
                                    <p class="text-right mb-2">Sub - Total amount: NGN {{ sub_total }} </p>

                                    <div *ngIf="items.length">
                                        <p class=" text-right" *ngFor="let item of others | keyvalue">{{ item.key }} :
                                            NGN {{ item.value }} </p>
                                    </div>
                                    <h4 class="text-right mb-5">Total : NGN {{ grand_total }}</h4>
                                    <hr>
                                </div>
                                <div class="container-fluid w-100" id="button" *ngIf="isShow">
                                    <button (click)="printPage()"  class="btn btn-primary float-right mt-4 ml-2"><i
                                            class="ti-printer mr-1 noprint"></i>Print</button>
                                    <button (click)="exportAs('xlsx')" class="btn btn-success float-right mt-4 ml-2"><i
                                            class="fa fa-file-excel-o mr-1"></i>Excel</button>
                                    <button (click)="exportAs('pdf', 'portrait')" target="_blank"
                                        class="btn btn-danger float-right mt-4 ml-2"><i
                                            class="fa fa-file-pdf-o mr-1"></i>PDF</button>

                                    <div
                                        *ngIf="invoiceApproved == true && userData.type == 'company' && paid == false ">
                                        <div *ngIf="userData.type == 'company' && paid == false ">
                                            <!-- <button class="btn btn-success float-right mt-4 ml-2" (click)="payNow()">
                                                <i class="mr-1 noprint"></i>₦ Pay Now</button> -->

                                            <button *ngIf="userData.type == 'company' && paid ==false "
                                                angular4-paystack class="btn btn-success float-right mt-4 ml-2"
                                                [key]="'pk_test_c98b92c0c8c5cd7d94150e06fc711d9ce1d1c53b'"
                                                [email]="userData.email" [amount]="grand_total*100" [ref]="reference"
                                                [class]="'btn btn-primary'" (paymentInit)="paymentInit()"
                                                (close)="paymentCancel()" (callback)="paymentDone($event)">
                                                ₦ Pay Now
                                            </button>
                                            <button *ngIf="userData.type == 'system' && paid == false"
                                                class="btn btn-success float-right mt-4 ml-2">
                                                <i class="mr-1 text-white"></i>Mark as Paid</button>



                                            <button *ngIf="userData.payLater  == true && payment_date == undefined"
                                                (click)="payLater()" class="btn btn-warning float-right mt-4 ml-2">
                                                <i class="mr-1 noprint"></i>Pay Later</button>

                                        </div>

                                    </div>
                                    <div *ngIf="invoiceApproved == false">
                                        <a *ngIf="userData.company.permissions == 'admin' " class="confirm"
                                            (click)="approveInvoice()">
                                            <button class="btn btn-success float-right mt-4 ml-2">
                                                <i class="mr-1 text-white"></i>Approve Invoice</button>
                                        </a>
                                    </div>

                                    <div *ngIf="invoiceApproved == false">
                                        <a *ngIf="userData.type  == 'system' " class="confirm"
                                            (click)="approveInvoice()">
                                            <button class="btn btn-success float-right mt-4 ml-2">
                                                <i class="mr-1 text-white"></i>Approve Invoice</button>
                                        </a>
                                    </div>

                                    <div
                                        *ngIf="invoiceApproved == true && userData.type == 'system' && paid == false ">
                                        <div>
                                            
                                            <button *ngIf="userData.type == 'system' && paid == false"
                                            (click)="markAsPaid()"
                                                class="btn btn-success float-right mt-4 ml-2">
                                                <i class="mr-1 text-white"></i>Mark as Paid</button>



                                            <button *ngIf="userData.type  == 'system'"
                                                (click)="payLater()" class="btn btn-warning float-right mt-4 ml-2">
                                                <i class="mr-1 noprint"></i>Pay Later</button>

                                        </div>

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
