<div class="container" style="padding: 10px;">
    <div class="row">
        <h3 class="lead">Repurchase Order</h3>
    </div>

    <div class="row">
        <form [formGroup]="RepurchaseForm">
            <div class="col-sm-12">
                <div *ngFor="let item of orderProducts; let index = index">
                    <div class="form-group col-sm-4 float-left">
                        <input readonly formControlName="name{{index}}" type="text" class="form-control" [(ngModel)]="item.name"  />
                    </div>
                    <div class="form-group col-sm-4 float-left">
                        <input formControlName="quantity{{ index }}" type="number" class="form-control" [(ngModel)]="item.quantity" />
                    </div>
                    <div class="form-group col-sm-4 float-left">
                        <input formControlName="description{{ index }}" type="text" class="form-control" [(ngModel)]="item.description" />
                    </div>
                </div>
            </div> 
        </form>
    </div>
    <div class="row" style="margin-top: 24px;">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" (click)="save()">Submit</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-warning pull-right" (click)="close()">Close</button>
        </div>
    </div>
</div>