<p>invoice-list works!</p>
<!-- begin::main -->
<div class="layout-wrapper">

    <app-header></app-header>

    <div class="content-wrapper">

        <!-- end::navigation -->
        <div class="content-body">
            <div class="content">
                <app-breadcrumb [breadCrumb]="breadCrumb"></app-breadcrumb>
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">

                            <div class="card-body" *ngIf="userData.type == 'system'">
                                <form [formGroup]="searchPoForm">
                                    <input formControlName="search" class="form-control"
                                        placeholder="Search for PO by company ID" />
                                </form>
                            </div>

                            <div class="card-body">
                                <h2 class="card-title">Purchase Order List</h2>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table id="order-listing" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>Order ID</th>
                                                        <th>Created Date</th>
                                                        <th>Paid</th>
                                                        <th>Company</th>
                                                        <th *ngIf="userData.type == 'system'">Supplier</th>
                                                        <th>#Action</th>
                                                    </tr>
                                                </thead>
                                                <div class="col-md-4 offset-md-4">
                                                    <mat-progress-spinner *ngIf="isLoadingOrder" mode="indeterminate" diameter='30'
                                                        strokeWidth='3'></mat-progress-spinner>
                                                </div>
                                                <tbody *ngIf="!isLoadingOrder && orders.length">

                                                    <tr *ngFor="let order of orders; let i=index">
                                                        <td>{{ i + 1 }}</td>
                                                        <td># {{ order.order_number }}</td>
                                                        <td>{{ order.createdAt }}</td>
                                                        <td>

                                                            <label class="badge badge-success"
                                                                *ngIf="order.paid == true ">{{ order.paid }}</label>

                                                            <label class="badge badge-danger"
                                                                *ngIf="order.paid == false ">{{ order.paid }}</label>

                                                        </td>
                                                        <td>{{ order.company_details ? order.company_details.name : '' }}</td>

                                                        <td *ngIf="userData.type === 'system'">
                                                            {{ order.vendor_details ? order.vendor_details.name : '' }} <br />
                                                        </td>

                                                        <!-- <td>action</td> -->
                                                        <td>

                                                            <button class="btn btn-outline-warning" (click)="viewOrder(order)">View</button>

                                                            <button *ngIf="userData.type == 'system'" class="btn btn-outline-primary" (click)="assignOrder(order)">Assign</button>

                                                            <button type="button" (click)="deleteOrder(order)"
                                                                *ngIf="userData.type != 'vendor' && order.paid == false && order.payment_date == undefined"
                                                                class="btn btn-outline-danger confirm-delete">Delete</button>

                                                        </td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                            <!-- <div class="text-center">
                                                <p>Showing page {{ p.page }} of {{ p.pages }} for {{ p.total }} Purchase
                                                    Oders</p>
                                                <div class="pagination">
                                                    {% if p.prev_skip == 0 or p.prev_skip %}
                                                    <a href="{% url 'purchase_order_list' p.prev_skip limit %}">&laquo;
                                                        Previous</a>
                                                    {% else %}
                                                    <a href="#" class="text-muted">&laquo; Previous</a>
                                                    {% endif %}
                                                    {% if p.next_skip  %}
                                                    <a href="{% url 'purchase_order_list' p.next_skip limit %}">&laquo;
                                                        Next</a>
                                                    {% else %}
                                                    <a href="#" class="text-muted">&laquo; Next</a>
                                                    {% endif %}
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>