.neg-magin{
    margin-top: -17px !important;
}

.cover-logo{
    background: #fff;
    position: relative;
    bottom: -61%;
    left: -1px;
    z-index: 99999999;
    height: 20px;
}

.custom-select-roboto{
    border: 1px solid #fff;
    font-family: roboto;
    font-weight: 700;
    text-transform: capitalize;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaaaaa; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa; 
  }
  .date-form{
    position: relative;
    top: -25px;
    background: #fff;
    padding-top: 14px;
    padding-bottom: 1px;
    border-radius: 9px;
  }

.btn-order{
    background: #40E5BF;
}

table {
  font-family: roboto;
  font-weight: 700;
}
table thead th{
text-transform: capitalize !important;
}
.fusioncharts-container{
  top: -28% !important;
}
.card-top{
  height: 423px !important;
}
@media only screen and (max-width: 992px) {
  .mobile-top{
    position: relative !important;
    top:-54px
  }
  .card-top{
    height: 304px !important;
  }
  
}
@media only screen and (min-width: 1024px) {
  .mobile-top{
    position: relative !important;
    top:12px
  }
  .card-top{
    height: 420px !important;
  }
  
}
@media only screen and (min-width: 1554px) {
  .mobile-top{
    position: relative !important;
    top:-23px
  }
  .card-top{
    height: 424px !important;
  }
  
}
