<!-- begin::main -->
<div class="layout-wrapper">

    <app-header></app-header>

    <div class="content-wrapper">
        <!-- end::navigation -->
        <div class="content-body">
            <div class="content">

                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="">
                                    <div class="" style="padding: .6rem;">
                                        <div class="d-flex justify-content-center m-t-10">
                                            <div>
                                                <p class="text-muted font-size-25">Hi {{ username }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-sm-12 m-t-10">
                                        <div class="order-right">
                                            <p class="text-muted">Today</p>
                                            <p class="text-muted m-t-20 font-size-20 neg-magin-2">
                                                {{ day | currency : "&#x20A6;" || '0'}}
                                            </p>
                                            <mat-progress-spinner *ngIf="isLoadingAnalytic" mode="indeterminate"
                                                diameter='30' strokeWidth='3'></mat-progress-spinner>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm12 m-t-10">
                                        <div class="order-right">
                                            <p class="text-muted">Last 7 Day's</p>
                                            <p class="text-muted m-t-20 font-size-20 neg-magin-2">
                                                {{ last7Days | currency : "&#x20A6;" || '0'}}
                                            </p>
                                            <mat-progress-spinner *ngIf="isLoadingAnalytic" mode="indeterminate"
                                                diameter='30' strokeWidth='3'></mat-progress-spinner>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm12 m-t-10">
                                        <div class="">
                                            <p class="text-muted">Last 30 Day's</p>
                                            <p class="text-muted m-t-20 font-size-20 neg-magin-2">
                                                {{ month | currency : "&#x20A6;" || '0'}}
                                            </p>
                                            <mat-progress-spinner *ngIf="isLoadingAnalytic" mode="indeterminate"
                                                diameter='30' strokeWidth='3'></mat-progress-spinner>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <form method="GET" style="margin-bottom: 20px">

                                    <div class="input-group input-daterange d-flex align-items-center">
                                        <!-- <!-- <input matInput [matDatepicker]="picker"> -->
                                        <div class="col-lg-5">
                                            <mat-form-field>
                                                <input [value]="startDate.value" matInput [matDatepicker]="picker"
                                                    placeholder="Start date">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-5">
                                            <mat-form-field>
                                                <input [value]="endDate.value" matInput [matDatepicker]="myPicker"
                                                    placeholder="End date">
                                                <mat-datepicker-toggle matSuffix [for]="myPicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #myPicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <!-- <div class="input-group-addon mx-4 p-md-2 float-left">to</div> -->
                                        <div class="col-lg-2">
                                            <button mat-raised-button color="primary">Filter</button>
                                            <!-- <button type="submit" class="float-right text-center col-md-2 btn btn-primary">Filter</button> -->
                                        </div>

                                    </div>
                                </form>
                                <div class="card" style="background: #283EB1; height: 140px;">
                                    <div>
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between mb-3">
                                                <div>
                                                    <h2 class="text-white col-md-12 font-weight-bold">Mobile
                                                        Applications coming soon
                                                    </h2>
                                                </div>
                                                <div>
                                                    <img style="margin-top: -30px; width: 150px;"
                                                        src="../../../assets/dashboard/assets/media/image/dashboard_icon.png"
                                                        alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-12" [ngClass]="{'col-lg-12': userData.type == 'system' }">
                        <div class="row">
                            <div [ngClass]="{'col-md-4': userData.type == 'system' }">
                                <div class="card" [ngClass]="{'neg-magin': userData.type == 'system' }">
                                    <div class="card-bodys p-ts-b-20">
                                        <div class="">
                                            <p class="text-muted">Invoice Raised</p>
                                            <h6 class="card-title neg-magin-2 font-size-25" *ngIf="!isLoadingBulk">
                                                {{ invoiceRaised | currency : "&#x20A6;" || '0'}}</h6>
                                            <mat-progress-spinner *ngIf="isLoadingBulk" mode="indeterminate"
                                                diameter='30' strokeWidth='3'></mat-progress-spinner>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'col-md-4': userData.type == 'system' }">
                                <div class="card neg-magin">
                                    <div class="card-bodys">
                                        <div class="">
                                            <p class="text-muted">Invoice Paid</p>
                                            <h6 class="card-title neg-magin-2 font-size-25">
                                                {{  invoicePaid | currency : "&#x20A6;" || '0' }}</h6>
                                            <mat-progress-spinner *ngIf="isLoadingBulk" mode="indeterminate"
                                                diameter='30' strokeWidth='3'></mat-progress-spinner>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'col-md-4': userData.type == 'system' }">
                                <div class="card neg-magin">
                                    <div class="card-bodys">
                                        <div class="">
                                            <p class="text-muted">Invoice Unpaid</p>
                                            <h6 class="card-title neg-magin-2 font-size-25">
                                                {{  invoiceUnpaid | currency : "&#x20A6;" || '0' }}
                                            </h6>
                                            <mat-progress-spinner *ngIf="isLoadingBulk" mode="indeterminate"
                                                diameter='30' strokeWidth='3'></mat-progress-spinner>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="card" style="height: 360px;">
                            <div class="card-body" style="padding-bottom: 0px;">
                                <div class="row" *ngIf="userData.type == 'system'">
                                    <div class="col-md-6">
                                        <h3 class="lead text-center">Top 5 Product Value</h3>

                                        <div class="chart">
                                            <canvas style="position: relative; height:40vh; width:80vw" baseChart
                                                [data]="pieChartData" [labels]="pieChartLabels"
                                                [chartType]="pieChartType"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="lead text-center">Top 5 Product Volume</h3>
                                        <div class="chart">
                                            <canvas style="position: relative; height:40vh; width:80vw" baseChart
                                                [data]="pieChartData2" [labels]="pieChartLabels2"
                                                [chartType]="pieChartType"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <!-- show this for other type of users -->
                                <div class="row" *ngIf="userData.type != 'system'">
                                    <div class="col-lg-12">
                                        <div style="display: block;">
                                            <canvas *ngIf="!isLoadingGraph" baseChart [datasets]="lineChartData"
                                                [labels]="lineChartLabels" [options]="lineChartOptions"
                                                [colors]="lineChartColors" [chartType]="lineChartType"
                                                (chartHover)="chartHovered($event)"
                                                (chartClick)="chartClicked($event)"></canvas>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>Invoice ID</th>
                                        <th>Created Date</th>
                                        <th>Payment</th>
                                        <th>Company</th>
                                        <th *ngIf="userData.type == 'system'">Suppliers</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="invoices.length  && !isLoadingInvoice">
                                    <tr *ngFor="let item of invoices">
                                        <td>
                                            #{{ item.order_number}}
                                        </td>
                                        <td>{{ item.createdAt}} </td>
                                        <td><span class="btn  btn-sm" [ngClass]="{'btn-success': item.paid == true, 
                                            'btn-danger': item.paid != true
                                            }">{{item.paid ? 'Paid': 'Unpaid'}}</span></td>
                                        <td>{{ item.company_details.name}}</td>
                                        <td *ngIf="userData.type == 'system'">{{ item.company_details.name }}</td>
                                        <td>
                                            <a href="#" class="text-white btn btn-primary btn-xs" data-toggle="tooltip"
                                                title="view">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-12">
                                <div class="col-md-4 offset-md-4">
                                    <mat-progress-spinner *ngIf="isLoadingInvoice" mode="indeterminate" diameter='30'
                                        strokeWidth='3'></mat-progress-spinner>
                                </div>
                                <nav>
                                    <ul class="pagination pagination-rounded" style="display: inline !important;">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                <i class="ti-angle-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="ti-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                            <p class="alert alert-info" *ngIf="!invoices.length">No Record available</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>