<header class="header-global">
    <nav id="navbar-main"
        class="navbar navbar-main navbar-expand-lg navbar-transparent bg-darker navbar-dark headroom headroom--top headroom--pinned">
        <div class="container">
            <a class="navbar-brand mr-lg-5" routerLink="homepage">
                <img src="../../../assets/front_end/assets/img/brand/logo.png" alt="Vendease"
                srcset="../../../../assets/front_end/assets/img/brand/logo.png" style="width: 150px" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"
                style="background-color: #0033CC">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a routerLink="homepage">
                                <img src="../../../../../assets/dashboard/assets/media/logo.png" alt="Vendease">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">

                    <li class="nav-item">
                        <a routerLink="about" class="nav-link no-caret px-1">
                            <i class="ni ni-world-2 d-lg-none"></i>
                            <span class="nav-link-inner--text text-nowrap">About Us</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="guarantee" class="nav-link no-caret px-1">
                            <i class="ni ni-paper-diploma d-lg-none"></i>
                            <span class="nav-link-inner--text text-nowrap">Vendease Guarantee</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="contact" class="nav-link no-caret px-1">
                            <i class="ni ni-email-83 d-lg-none"></i>
                            <span class="nav-link-inner--text text-nowrap">Contact Us</span>
                        </a>
                    </li>
                    <div class="btn-wrapper d-xl-none">
                        <a routerLink="login" class="btn btn-outline-primary btn-icon mb-3 mb-sm-0">
                            <span class="btn-inner--text" style="text-transform: capitalize;">Sign In</span>
                        </a>

                        <a routerLink="sign_up" class="btn btn-primary btn-icon mb-3 mb-sm-0 ml-2">
                            <span class="btn-inner--text" style="text-transform: capitalize;">Register</span>
                        </a>
                    </div>
                </ul>

            </div>
            <div class="btn-wrapper d-none d-xl-block">
                <a routerLink="login" class="btn btn-outline-primary btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--text" style="text-transform: capitalize;">Sign In</span>
                </a>

                <a routerLink="register" class="btn btn-primary btn-icon mb-3 mb-sm-0 ml-2">
                    <span class="btn-inner--text" style="text-transform: capitalize;">Register</span>
                </a>
            </div>
        </div>
    </nav>
</header>