<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-150">
            <div class="shape shape-bg"></div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-7">
                            <h1 class="text-vendease">
                                Online Marketplace for Africa's Food Service Businesses
                            </h1>
                            <p class="lead  text-vendease-p">
                                Vendease procurement platform provides a transparent process for hotels and
                                restaurants to get the best quality products at the best possible price.
                            </p>
                            
                            <div class="btn-wrapper ">
                                <img src="../../../assets/front_end/assets/img/brand/partners.png" alt=""
                                    class="brand-partner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>

    <section class="sections section-lg pb-200"
        style="height: 100%; padding-top: 40px !important; background-image: url('../../../assets/front_end/assets/img/theme/custom-section.png'); background-size: cover;">
        <div class="container mt-5 pt-5">
            <div class="row text-center justify-content-center">
                <div class="col-lg-10">
                    <h2 class="display-3 text-white">Quality products at the best prices</h2>
                </div>
            </div>
            <div class="row row-grid mt-5">
                <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
                    <div class="bg-white-grey">

                        <div>
                            <img src="../../../assets/front_end/assets/img/theme/source.svg"
                                class="img-fluid quality-product" />
                        </div>
                        <h3 class="display-3 mt-3 text-vendease-p">Source</h3>
                        <p class="mt-3 text-vendease-p">Make better sourcing decisions backed by analytics. Or go with
                            our in-house sourcing product. We always
                            guarantee the best products.</p>
                        <div class="bottom">
                            <a href="#" style="position: relative; top: 42px;">
                                <strong>Learn More</strong></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
                    <div class="bg-white-grey">
                        <div>
                            <img src="../../../assets/front_end/assets/img/theme/procure.svg"
                                class="img-fluid quality-product" />
                        </div>
                        <h3 class="display-3 mt-3 text-vendease-p">Procure</h3>
                        <p class="mt-3 text-vendease-p">Our e-procurement platform saves you
                            time and money by eliminating the back
                            and forth with vendors.</p>
                        <div class="bottom_">
                            <a href="#" style="position: relative;  top: 64px;">
                                <strong>Learn More</strong></a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
                    <div class="bg-white-grey">
                        <div>
                            <img src="../../../assets/front_end/assets/img/theme/save.svg"
                                class="img-fluid quality-product" />
                        </div>
                        <h3 class="display-3 mt-3 text-vendease-p">Pay</h3>
                        <p class="mt-3 text-vendease-p">We provide easy online and offline payment options. But more
                            than that, we work with businesses to improve their cashflow with innovative payment
                            options.
                        </p>
                        <div class="bottom__">
                            <a href="#" style="position: relative;  top: 38px;">
                                <strong>Learn More</strong></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="section section-lg"
        style="background-image: url('../../../assets/front_end/assets/img/theme/customer.png'); background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 offset-lg-1 bg-white pt-2 border-radius">
                    <h1 class="text-vendease-p col-md-9">Why customers trust us.</h1>
                    <div class="wrap">
                        <div class="content-teaser__slider">
                            <div class="content-teaser__wrapper">
                                <div class="content-teaser__contents text-darker">
                                    <div class="content-teaser__center">
                                        <i class="fa fa-2x text-vendease-p  fa-quote-left mb-3"></i>
                                        <p class="content-teaser__text mb-5" style="margin-bottom: 0px !important">
                                            For a small business like Wingsville, cashflow is so critical. Vendease
                                            flexible payment options has allowed us to buy goods now and pay later.
                                        </p>
                                        <i class="fa fa-2x text-vendease-p fa-quote-right mb-3 text-right"
                                            style="position: absolute; right: 0px;;"></i>
                                        <div class="content-teaser__info mt-5">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="name"><strong>Adeyemi Okunowo</strong></div>
                                                    <div class="position">Founder, CEO </div>
                                                    <div class="company">Wingsville</div>
                                                </div>
                                                <div class="col-md-1">
                                                    <br>
                                                    <img src="../../../assets//front_end/assets/img/theme/next.svg"
                                                        alt="" style="width: 40px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-teaser__wrapper">
                                <div class="content-teaser__contents text-darker">
                                    <div class="content-teaser__center">
                                        <i class="fa fa-2x text-vendease-p  fa-quote-left mb-3"></i>
                                        <p class="content-teaser__text mb-5" style="margin-bottom: 0px !important">
                                            I used to run out of inventory all the time, but since I started working
                                            with Vendease, I have not
                                        </p>
                                        <i class="fa fa-2x text-vendease-p fa-quote-right mb-3 text-right"
                                            style="position: absolute; right: 0px;;"></i>
                                        <div class="content-teaser__info mt-5">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="name"><strong>Onuoha Cuthberga</strong></div>
                                                    <div class="position">GM</div>
                                                    <div class="company">Morning Side Suites </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <br>
                                                    <img src="../../../assets//front_end/assets/img/theme/next.svg"
                                                        alt="" style="width: 40px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-teaser__wrapper">
                                <div class="content-teaser__contents text-darker">
                                    <div class="content-teaser__center">
                                        <i class="fa fa-2x text-vendease-p  fa-quote-left mb-3"></i>
                                        <p class="content-teaser__text mb-5" style="margin-bottom: 0px !important">
                                            Being cheated by vendors and suppliers was something I constantly
                                            worried about, Vendease now handles all my procurement and I now have
                                            transparent sourcing and payment.
                                        </p>
                                        <i class="fa fa-2x text-vendease-p fa-quote-right mb-3 text-right"
                                            style="position: absolute; right: 0px;;"></i>
                                        <div class="content-teaser__info mt-5">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="name"><strong>Ndidi Anyaehie Founder</strong></div>
                                                    <div class="position">CEO</div>
                                                    <div class="company">The B-Hive Restaurant </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <br>
                                                    <img src="../../../assets//front_end/assets/img/theme/next.svg"
                                                        alt="" style="width: 40px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-teaser__wrapper">
                                <div class="content-teaser__contents text-darker">
                                    <div class="content-teaser__center">
                                        <i class="fa fa-2x text-vendease-p  fa-quote-left mb-3"></i>
                                        <p class="content-teaser__text mb-5" style="margin-bottom: 0px !important">
                                            Vendease finances my procurement and sources my goods for me. This has
                                            allowed me to stop worrying about procuring and focus on building and
                                            expanding my business
                                        </p>
                                        <i class="fa fa-2x text-vendease-p fa-quote-right mb-3 text-right"
                                            style="position: absolute; right: 0px;;"></i>
                                        <div class="content-teaser__info mt-5">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="name"><strong>Kola Afolabi</strong></div>
                                                    <div class="position">CEO</div>
                                                    <div class="company">K and K Restaurant </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <br>
                                                    <img src="../../../assets//front_end/assets/img/theme/next.svg"
                                                        alt="" style="width: 40px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- Slider closed -->
                    </div>

                </div>
            </div>

        </div>
    </section>
    <section class="section  section-lg" style="background: #fff;">
        <div class="container-fluid">
            <div class="row row-grid justify-content-center">
                <div class="col-md-12">
                    <h2 class="display-3 mb-5 text-center text-vendease-p"><strong>We can procure anything</strong>
                    </h2>
                    <div class="carousel-list col-md-12">
                        <div class="slick-carousel slick-initialized slick-slider slick-dotted">

                            <div class="slick-list draggable">
                                <div class="slick-track"
                                    style="opacity: 1; width: 1254px; transform: translate3d(0px, 0px, 0px);">
                                    <div class="slide slick-slide slick-current slick-active" data-slick-index="0"
                                        aria-hidden="false" style="width: 187px;" tabindex="0" role="tabpanel"
                                        id="slick-slide10" aria-describedby="slick-slide-control10">
                                        <div class="card-outer bg-white rounded text-center">
                                            <div class="card-item">
                                                <img class="mx-auto"
                                                    src="../../../assets/front_end/assets/img/icons/bread.png"
                                                    alt="Drink" style="width: 50px;">
                                                <div class="pt-4 text-vendease-p"><strong>Bread</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide slick-slide slick-active" data-slick-index="1" aria-hidden="false"
                                        style="width: 187px;" tabindex="0" role="tabpanel" id="slick-slide11"
                                        aria-describedby="slick-slide-control11">
                                        <div class="card-outer bg-white rounded text-center">
                                            <div class="card-item">
                                                <img class="mx-auto"
                                                    src="../../../assets/front_end/assets/img/icons/meat.png"
                                                    alt="Water" style="width: 50px;">
                                                <div class="pt-4 text-vendease-p"><strong>Meat</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide slick-slide slick-active" data-slick-index="2" aria-hidden="false"
                                        style="width: 187px;" tabindex="0" role="tabpanel" id="slick-slide12"
                                        aria-describedby="slick-slide-control12">
                                        <div class="card-outer bg-white rounded text-center">
                                            <div class="card-item">
                                                <img class="mx-auto"
                                                    src="../../../assets/front_end/assets/img/icons/vegetables.png"
                                                    alt="Meat" style="width: 50px;">
                                                <div class="pt-4 text-vendease-p"><strong>Vegetables</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide slick-slide slick-active" data-slick-index="3" aria-hidden="false"
                                        style="width: 187px;" tabindex="0" role="tabpanel" id="slick-slide13"
                                        aria-describedby="slick-slide-control13">
                                        <div class="card-outer bg-white rounded text-center">
                                            <div class="card-item">
                                                <img class="mx-auto"
                                                    src="../../../assets/front_end/assets/img/icons/water.png"
                                                    alt="Beverages" style="width: 22px;">
                                                <div class="pt-4 text-vendease-p"><strong>Water</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide slick-slide slick-active" data-slick-index="4" aria-hidden="false"
                                        style="width: 187px;" tabindex="0" role="tabpanel" id="slick-slide14"
                                        aria-describedby="slick-slide-control14">
                                        <div class="card-outer bg-white rounded text-center">
                                            <div class="card-item">
                                                <img class="mx-auto"
                                                    src="../../../assets/front_end/assets/img/icons/grains.png"
                                                    alt="Cereals" style="width: 50px;">
                                                <div class="pt-4 text-vendease-p"><strong>Grains</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide slick-slide slick-active" data-slick-index="5" aria-hidden="false"
                                        style="width: 187px;" tabindex="0" role="tabpanel" id="slick-slide15"
                                        aria-describedby="slick-slide-control15">
                                        <div class="card-outer bg-white rounded text-center">
                                            <div class="card-item">
                                                <img class="mx-auto"
                                                    src="../../../assets/front_end/assets/img/icons/toiletries.png"
                                                    alt="Toiletries" style="width: 50px;">
                                                <div class="pt-5 text-vendease-p"><strong>Toiletries</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="slick-dots" role="tablist">
                                <li class="slick-active" role="presentation"><button type="button" role="tab"
                                        id="slick-slide-control10" aria-controls="slick-slide10" aria-label="1 of 1"
                                        tabindex="0" aria-selected="true">1</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section  bg-white section-lg">
        <div class="container">
            <div class="row row-grid justify-content-center">
                <div class="col-md-12">
                    <h2 class="display-3 mb-5 text-center text-vendease-p"><strong>Some of the businesses we work
                            with</strong>
                    </h2>
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="row">
                            <div class="col-lg-3">
                                <a href="https://www.instagram.com/wingsvillegrill/?hl=en" target="_blank">
                                    <img class="greyscale" src="../../../assets/front_end/assets/img/brand/1.png"
                                        alt="Partner" style="width: 100px;">
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a href="http://morningsidesuites.com/spa-hotel/en/index.html" target="_blank">
                                    <img class="greyscale" src="../../../assets/front_end/assets/img/brand/2.png"
                                        alt="Partner" style="width: 80px;">
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a href="https://magrellosfoods.com/" target="_blank">
                                    <img class="greyscale" src="../../../assets/front_end/assets/img/brand/3.png"
                                        alt="Partner" style="width: 100px;">
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a href="https://www.instagram.com/wingsvillegrill/?hl=en" target="_blank">
                                    <img class="greyscale" src="../../../assets/front_end/assets/img/brand/_1.png"
                                        alt="Partner" style="width: 94px;">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <a href="https://www.instagram.com/unclevinniesgrill/?hl=en" target="_blank">
                                    <img class="greyscale" src="../../../assets/front_end/assets/img/brand/4.png"
                                        alt="Partner" style="width: 80px;">
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a href="https://ouredenlife.com/" target="_blank">
                                    <img class="mt-4 greyscale"
                                        src="../../../assets/front_end/assets/img/brand/5.png" alt="Partner"
                                        style="width: 120px;">
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a href="https://www.thelekkicoliseum.com/" target="_blank">
                                    <img class="mt-3 greyscale"
                                        src="../../../assets/front_end/assets/img/brand/6.png" alt="Partner"
                                        style="width: 100px;">
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a href="https://www.thelekkicoliseum.com/" target="_blank">
                                    <img class="mt-3 greyscale"
                                        src="../../../assets/front_end/assets/img/brand/7.png" alt="Partner"
                                        style="width: 100px;">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-lg-3 offset-lg-5">
                                <a href="https://www.instagram.com/unclevinniesgrill/?hl=en" target="_blank">
                                    <img class="greyscale" src="../../../assets/front_end/assets/img/brand/_3.png"
                                        alt="Partner" style="width: 120px;">
                                </a>
                            </div>
                            <!-- <div class="col-lg-3">
                                <a href="https://ouredenlife.com/" target="_blank">
                                    <img class="mt-4 greyscale"
                                        src="../../../assets/front_end/assets/img/brand/5.png" alt="Partner"
                                        style="width: 120px;">
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>