<!-- begin::main -->
<div class="layout-wrapper">

    <app-header></app-header>

    <div class="content-wrapper">

        <!-- end::navigation -->
        <div class="content-body">
            <div class="content" style="padding-top: 50px;">
                <app-breadcrumb [breadCrumb]="breadCrumb" ></app-breadcrumb>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3>
                                    <span>
                                        Purchase Order : <span style="font-size: 20px; color: darkred">#{{ order_no }}</span>
                                    </span>
                                    <br />
                                </h3>
                                <span style="font-size: 15px;">Status: </span>
                                <span style="border-radius: 5px; padding-bottom: 2px; font-weight: 500 !important;"
                                    [ngClass]="{'badge text-white font-weight-bolder badge-danger': status !== 'delivered',  'badge badge-success': status == 'delivered' }">
                                    <span *ngIf="status == 'accepted' " class="badge text-white font-weight-bolder" style="text-transform: capitalize">Processing</span>
                                    <span *ngIf="status !== 'accepted' " class="badge text-white font-weight-bolder" style="text-transform: capitalize">{{ status }}</span>
                                </span>


                                <div *ngIf="company_confirm == true" style="font-size: 15px">
                                    Received By: {{ company_details }}
                                </div>

                                <div *ngIf="userData.type  != 'company'">
                                    <div *ngIf="delivered == false">
                                        <a href="" class="btn btn-success float-right text-white confirm">
                                            Mark as delivered</a>
                                        <a style="margin-right: 10px" href=""
                                            class="btn btn-info float-right text-white" data-toggle="modal"
                                            data-target="#status">Update Status</a>
                                    </div>
                                </div>

                                <div *ngIf="userData.type == 'company'">
                                    <div *ngIf="delivered == true && !confirm">
                                        <a href="" class="btn btn-success float-right text-white confirm">Mark as
                                            received</a>
                                    </div>
                                </div>



                                <div class="mt-5">

                                    <div *ngIf="userData.type  != 'company'">
                                        <div *ngIf="delivered == false">


                                            <button class="btn btn-outline-primary text-center" data-toggle="modal"
                                                data-target="#location">Update
                                                Location
                                            </button>
                                            <br />
                                        </div>
                                    </div>


                                    <div class="timeline" *ngIf="current_status.length">
                                        <div class="timeline-wrapper timeline-wrapper-warning "
                                            *ngFor="let item of current_status">
                                            <div class="timeline-badge"></div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <!-- {#                        <h6 class="timeline-title">Defected Product</h6>#} -->
                                                </div>
                                                <div class="timeline-body">
                                                    <p>{{ item.description }}</p>
                                                </div>

                                                <div class="timeline-footer d-flex align-items-center flex-wrap">
                                                    <!-- {#                          <span class="text-danger"><strong class="text-info">{{claim.entity|capfirst }}</strong> -{{ claim.user }}</span>#} -->
                                                    <span class="ml-md-auto font-weight-bold">{{ item.date }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h3 *ngIf="!current_status.length">No update yet for this purchase order</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="location" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Update Location</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>

                                    <div class="form-group location">
                                        <label for="location">Update Location</label>
                                        <textarea name="location" cols="6" rows="6" type="text" required
                                            class="form-control" id="location"
                                            placeholder="Current Location"> </textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary confirm">Submit</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Update Status</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>

                                    <div class="form-group location">
                                        <label for="location">Update Status</label>
                                        <select style="width: 100%" name="status"
                                            class="form-control js-example-basic-single w-100 " required>
                                            <option value="">Please select </option>
                                            <option value="in-transit">In-Transit</option>
                                            <option value="delivered">Delivered</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary confirm">Submit</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>