<div class="layout-wrapper">

    <app-header></app-header>

    <div class="content-wrapper">

        <!-- end::navigation -->
        <div class="content-body">
            <div class="content" style="padding-top: 50px;">
                <app-breadcrumb [breadCrumb]="breadCrumb"></app-breadcrumb>
                <div class="email-wrapper wrapper">

                    <div class="row align-items-stretch">
                        <div class="mail-view  d-md-block col-md-12 bg-white">
                            <div class="row">
                                <div class="col-md-12 mb-4 mt-4">
                                    <div class="btn-toolbar">
                                        <div *ngFor="let claim of conversations; let index = index ">
                                            <div *ngIf="claim.claims.status == 'open' && index == 0">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-outline-primary"
                                                        data-toggle="modal" data-target="#replyclaim">Reply
                                                        Message</button>
                                                </div>

                                                <div class="btn-group" *ngIf="userData.type == 'system' ">
                                                    <a (click)="closeClaim(claim)"
                                                        class="confirm"><button type="button"
                                                            class="btn btn-sm btn-outline-danger">Closed
                                                            Claim</button></a>
                                                </div>
                                            </div>
                                            <div *ngIf="claim.claims.status !== 'open' && index == 0 ">
                                                <div class="btn-group">
                                                    <span type="button" class="btn btn-sm btn-outline-danger text-white"
                                                        style="background-color: red">Closed</span>
                                                </div>

                                                <div class="btn-group" *ngIf="userData.type == 'vendor' ">
                                                    <a (click)="reopenClaim(claim)" class="confirm"><button type="button"
                                                            class="btn btn-sm btn-outline-success">Re-open
                                                            Claim</button></a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="message-body" *ngFor="let claim of conversations">
                                <div class="sender-details">
                                    <div class="details">
                                        <div class="message-content">
                                            <p>{{ claim.message }}</p>
                                        </div>

                                        <p class="msg-subject">
                                            {{ claim.createdAt|date }}
                                        </p>
                                        <p class="sender-email">
                                            <span class="text-danger"><strong
                                                    class="text-info">{{claim.entity }}</strong>
                                                -{{ claim.user }}</span>
                                        </p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- main-panel ends -->
<div class="modal fade" id="replyclaim" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel" style="margin-bottom:-20px">Last message: <br />
                    <div style="font-weight: 400; margin-top: -10px;">
                        <p *ngFor="let claim of conversations; let last = last">
                            <span *ngIf="last">{{ claim.message }}</span>
                        </p>
                    </div>
                </h5>
                <button type="button" #closebutton  class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="ReplyClaimForm">

                    <div class="form-group message">
                        <label for="claim">Message</label>
                        <textarea class="form-control" required formControlName="message" cols="6" rows="10" id="claim"
                            placeholder="Enter Claim"> </textarea>
                    </div>
                    <button type="submit" (click)="replyClaim()" class="btn btn-primary">Submit </button>
                </form>

            </div>
        </div>
    </div>
</div>