<div class="container-scroller">

    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
            <div class="row flex-grow">
                <div class="col-lg-4 d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-md-8 offset-md-3">
                            <h2 class="text-vendease-p" style="line-height: 37px;">Are you a business? sign up today!
                            </h2>
                            <br>
                            <p class="text-vendease-p" style="margin-top: -20px;">It only takes a few steps.</p>
                            <a routerLink="/vendor_register" class="btn btn-primary mb-3 mb-sm-0 ">
                                <span class="btn-inner--text" style="text-transform: capitalize;">Register as
                                    Vendor</span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-7 d-flex align-items-center justify-content-center">
                    <div class="wraps col-lg-6 bg-white register-box"
                        style="border: 1px solid #0E32E5 !important; border-radius: 12px !important; opacity: 1 !important;">
                        <div class="auth-form- text-left p-3">
                            <div class="brand-logo">
                                <a routerLink="/">
                                    <img src="../../../assets/front_end/assets/img/brand/logo.png" alt="logo">
                                </a>

                            </div>

                            <form class="pt-3" [formGroup]=signUpForm>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-lg"
                                                placeholder="First Name" formControlName="firstName"
                                                [class.invalid]="!signUpForm.controls.firstName.valid && (signUpForm.controls.firstName.dirty || submitAttempt)">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-lg"
                                                placeholder="Last Name" formControlName="lastName"
                                                [class.invalid]="!signUpForm.controls.lastName.valid && (signUpForm.controls.lastName.dirty || submitAttempt)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" placeholder="Email"
                                        formControlName="email"
                                        [class.invalid]="!signUpForm.controls.email.valid && (signUpForm.controls.email.dirty || submitAttempt)">
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-lg"
                                                placeholder="Password" formControlName="password"
                                                [class.invalid]="!signUpForm.controls.password.valid && (signUpForm.controls.password.dirty || submitAttempt)">
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-lg"
                                                placeholder="Confirm Password" formControlName="ConfrimPassword"
                                                [class.invalid]="!signUpForm.controls.ConfrimPassword.valid && (signUpForm.controls.ConfrimPassword.dirty || submitAttempt)">
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="Company"
                                        formControlName="company"
                                        [class.invalid]="!signUpForm.controls.company.valid && (signUpForm.controls.company.dirty || submitAttempt)">
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="number" class="form-control form-control-lg"
                                                placeholder="Phone" formControlName="phone"
                                                [class.invalid]="!signUpForm.controls.phone.valid && (signUpForm.controls.phone.dirty || submitAttempt)">
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-lg"
                                                placeholder="Address" formControlName="address"
                                                [class.invalid]="!signUpForm.controls.address.valid && (signUpForm.controls.address.dirty || submitAttempt)">
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 row mb-50">
                                    <div class="text-left mt-3 font-weight-light col-md-6">
                                        <small>Get an account?</small>
                                        <a routerLink="/login">Sign In</a>
                                    </div>
                                    <div *ngIf="display" class=" offset-lg-5 offset-md-5 offset-sm-5">
                                        <mat-progress-spinner mode="indeterminate" diameter='40' strokeWidth='3'>
                                        </mat-progress-spinner>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit"
                                            class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn custom-btn"
                                            id="load" [disabled]="signUpForm.invalid" (click)="signUp()"
                                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Submitting ...">Continue
                                        </button>
                                    </div>

                                </div>

                            </form>


                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>