<!-- begin::main -->
<div class="layout-wrapper">

    <app-header></app-header>

    <div class="content-wrapper">

        <!-- end::navigation -->
        <div class="content-body">
            <div class="content">

                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">

                            <div class="card-body" *ngIf="userData == 'system' ">
                                <form>
                                    <input name="search" class="form-control"
                                        placeholder="Search for Delivery by company ID" />
                                </form>
                            </div>

                            <div class="card-body">
                                <h2 class="card-title">Delivery List </h2>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table id="order-listing" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th *ngIf="userData !== 'vendor' ">Invoice ID</th>
                                                        <th>Purchase Order ID</th>
                                                        <th>Status</th>
                                                        <th *ngIf="userData == 'system' ">Assigned To</th>
                                                        <th *ngIf="userData == 'system' ">Company</th>
                                                        <th>#Action</th>
                                                    </tr>
                                                </thead>
                                                <div class="col-md-4 offset-md-4">
                                                    <mat-progress-spinner *ngIf="isLoadingDelievery" mode="indeterminate" diameter='30'
                                                        strokeWidth='3'></mat-progress-spinner>
                                                </div>
                                                <tbody>
                                                    <tr *ngFor="let item of deliveries; let i =index ">
                                                        <td>{{ i+1 }}</td>
                                                        <td *ngIf="userData !== 'vendor' ">{{ item.invoice_no }}</td>
                                                        <td>
                                                            <a *ngIf="item.long_order_no" style="color: black"
                                                                href="#">{{ item.order_no }}</a>
                                                            <span *ngIf="!item.long_order_no">
                                                                {{ item.order_no }}</span>

                                                        </td>
                                                        <td>
                                                            <label
                                                                [ngClass]="{'badge text-white font-weight-bolder badge-danger': item.status !== 'delivered',  'badge badge-success': item.status == 'delivered' }">
                                                                <span
                                                                    *ngIf=" item.status=='accepted '">Processing</span>
                                                                <span
                                                                    *ngIf=" item.status !=='accepted '">{{ item.status }}</span>
                                                            </label>
                                                        </td>


                                                        <td *ngIf=" userData =='system' ">
                                                            {{ item.vendor_details ? item.vendor_details.name : '' }}
                                                        </td>

                                                        <td *ngIf=" userData !== 'company' ">

                                                            <label *ngIf="item.delivered==true &&
                                                                item.company_confirm==true; else awaiting"
                                                                class="badge-sm badge badge-success">Confirmed by
                                                                {{ item.company_confirm_details ? item.company_confirm_details.name : '' }}</label>
                                                            <ng-template #awaiting>
                                                                <label class="badge-sm badge badge-danger">Awaiting
                                                                Confirmation</label>
                                                            </ng-template>
                                                        </td>
                                                        <td>
                                                            <a href="#">
                                                                <button class="btn-md btn btn-primary">View</button>
                                                            </a>

                                                            <a *ngIf="userData !== 'company' && item.long_order_no !== null"
                                                                target="_blank">
                                                                <button class="btn-md btn btn-danger">Print</button>
                                                            </a>
                                                            <label
                                                                *ngIf="userData !== 'company' && item.delivered && item.company_confirm && item.company_confirm == true; else secondPart"
                                                                class="
                                                                text-white badge badge-dark">Confirmed by
                                                                {{ item.company_confirm_details ? item.company_confirm_details.name : '' }}
                                                            </label>

                                                            <ng-template #secondPart>
                                                                <a href="#">
                                                                    <button
                                                                        class="confirm btn btn-info text-white">Confirm
                                                                        Delivery</button>
                                                                </a>
                                                            </ng-template>

                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- <div class="text-center">
                                                <p>Showing page {{ p.page }} of {{ p.pages }} for {{ p.total }} Invoices
                                                </p>
                                                <div class="pagination">
                                                    {% if p.prev_skip == 0 or p.prev_skip %}
                                                    <a href="{% url 'delivery' 'all' 'invoices' p.prev_skip limit %}">&laquo;
                                                        Previous</a>
                                                    {% else %}
                                                    <a href="#" class="text-muted">&laquo; Previous</a>
                                                    {% endif %}
                                                    {% if p.next_skip  %}
                                                    <a href="{% url 'delivery' 'all' 'invoices' p.next_skip limit %}">&laquo;
                                                        Next</a>
                                                    {% else %}
                                                    <a href="#" class="text-muted">&laquo; Next</a>
                                                    {% endif %}
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>