<!-- begin::main -->
<div class="layout-wrapper">

    <app-header></app-header>

    <div class="content-wrapper">

        <!-- end::navigation -->
        <div class="content-body">
            <div class="content" style="padding-top: 50px;">
                <app-breadcrumb [breadCrumb]="breadCrumb"></app-breadcrumb>
                <div class="row">
                    <div class="col-md-12">
                        <div class="cards">

                            <div class="card-body" *ngIf="userData.type == 'system' ">
                                <form [formGroup]="searchDeliveryForm">

                                    <div class="input-group">
                                        <input formControlName="search" class="form-control" (keyup)="searchDeleivery()"
                                            [class.invalid]="!searchDeliveryForm.controls.search.valid && (searchDeliveryForm.controls.search.dirty)"
                                            placeholder="Search for Delivery by company ID" />
                                        <div class="input-group-append"
                                            style="    position: relative; right: 10px; top: -1px;">
                                            <button class="btn btn-outline-secondary" type="button"
                                                (click)="searchDeleivery()"> <span><i
                                                        class="fa fa-search"></i></span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="card-body">
                                <h2 class="card-title">Delivery List </h2>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table id="order-listing" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th *ngIf="userData !== 'vendor' ">Invoice ID</th>
                                                        <th>Purchase Order ID</th>
                                                        <th>Status</th>
                                                        <th *ngIf="userData.type == 'system' ">Assigned To</th>
                                                        <th *ngIf="userData.type == 'system' ">Company</th>
                                                        <th>#Action</th>
                                                    </tr>
                                                </thead>
                                                <div class="col-md-4 offset-md-4">
                                                    <mat-progress-spinner *ngIf="isLoadingDelievery"
                                                        mode="indeterminate" diameter='30' strokeWidth='3'>
                                                    </mat-progress-spinner>
                                                </div>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let item of deliveries | paginate: { id: 'order-listing', itemsPerPage: 50, currentPage: p, totalItems:totalItems } let i=index">
                                                        <td>{{ i+1 }}</td>
                                                        <td *ngIf="userData.type !== 'vendor' ">{{ item.invoice_no }}
                                                        </td>
                                                        <td>
                                                            <a *ngIf="item.long_order_no" style="color: black"
                                                                href="#">{{ item.order_no }}</a>
                                                            <span *ngIf="!item.long_order_no">
                                                                {{ item.order_no }}</span>
                                                        </td>
                                                        <td>

                                                            <label
                                                                [ngClass]="{'badge badge-danger': item.status !== 'delivered',  'badge badge-success': item.status == 'delivered' }">
                                                                <span class="badge"
                                                                    *ngIf=" item.status=='accepted '">Processing</span>
                                                                <span class="badge"
                                                                    *ngIf=" item.status !=='accepted '">{{ item.status }}</span>
                                                            </label>
                                                        </td>


                                                        <td *ngIf=" userData.type =='system' ">
                                                            {{ item.vendor_details ? item.vendor_details.name : '' }}
                                                        </td>

                                                        <td *ngIf=" userData.type !== 'company' ">

                                                            <label *ngIf="item.delivered==true &&
                                                                item.company_confirm==true;"
                                                                class="badge-sm badge badge-success">Confirmed by
                                                                {{ item.company_confirm_details ? item.company_confirm_details.name : '' }}</label>

                                                            <label
                                                                *ngIf="item.delivered==false &&  item.company_confirm==false;"
                                                                class="badge-sm badge badge-danger">Awaiting
                                                                Confirmation</label>

                                                        </td>
                                                        <td>

                                                            <div class="dropdown">
                                                                <a class="btn btn-outline-light btn-sm dropdown-toggle"
                                                                    type="button" id="dropdownMenuButton"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false"></a>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton"
                                                                    style="padding: 5px; background: rgba(243, 246, 249); text-align: center; font-family: roboto; font-weight: 700;">
                                                                    <a class="dropdown-item"
                                                                        style="font-size: 12px; text-transform: capitalize !important;"
                                                                        (click)="viewDelivery(item)">View</a>
                                                                    <a *ngIf="userData.type !== 'company' && item.long_order_no != null" class="dropdown-item"
                                                                        target="_blank">
                                                                        Print
                                                                    </a>
                                                                    <label
                                                                        *ngIf="userData.type == 'company' && item.delivered == true && item.company_confirm == true;"
                                                                        class="
                                                                    text-white badge badge-dark">Confirmed by
                                                                        {{ item.company_confirm_details ? item.company_confirm_details.name : '' }}
                                                                    </label>

                                                                    <!-- <ng-template #secondPart> -->
                                                                    <a
                                                                        style="font-size: 12px; text-transform: capitalize !important;"
                                                                        *ngIf="userData.type !== 'company' && item.delivered == false && item.company_confirm == false"
                                                                        (click)="confirmDelivery(item)"
                                                                        class="dropdown-item"   >Confirm
                                                                        Delivery</a>

                                                                </div>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>