<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo">
                    <a routerLink="/">
                        <img src="../../../assets/front_end/assets/img/brand/logo.png" alt="logo">
                    </a>
              </div>
              <h4>Opps !!!</h4>
              <h6 class="font-weight-light">No worries. We can help you recover it.</h6>
              <form class="pt-3" [formGroup]="forgotPasswordForm">

                <div class="form-group">
                  <label>Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="ti-user text-primary"></i>
                      </span>
                    </div>
                    <input type="email" formControlName="email" class="form-control" placeholder="Enter Email">
                  </div>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <a routerLink="/login" class="auth-link text-black">Remember Now ? .. Login</a>
                </div>
                <div class="my-3">
                  <button type="submit" (click)="forgotPassword()" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SUBMIT</button>
                </div>

              </form>


            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018  All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
