<p>invoice-list works!</p>
<!-- begin::main -->
<div class="layout-wrapper">

    <app-header></app-header>

    <div class="content-wrapper">

        <!-- end::navigation -->
        <div class="content-body">
            <div class="content">
                <app-breadcrumb [breadCrumb]="breadCrumb"></app-breadcrumb>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Purchase Order Form</h4>

                                <form method="POST" [formGroup]="purchaseOrderForm">
                                    <div id="purchase_orderForm">
                                        <div class="form-group col-lg-12 float-left">
                                            <label for="product">Product<small style="color:darkred">* </small><small
                                                    style="color: darkred" class="float-right"> Product with price
                                                    only</small> </label><br />
                                            <select formControlName="product"
                                                class="form-control js-example-basic-single w-100" required>
                                                <option value="">Please select</option>

                                                <option value="{{item._id}}#{{item.name}}"
                                                    *ngFor="let item of products">
                                                    {{ item.name }}({{ item.description }} - NGN{{ item.price }})
                                                </option>

                                            </select>
                                        </div>
                                        <div class="form-group col-lg-12 float-left">
                                            <label for="quantity">Qty<small style="color:darkred">*</small></label>
                                            <input required formControlName="quantity"  class="form-control"
                                                step="0.01" type="number" />
                                        </div>

                                        <div class="form-group col-lg-12 float-left">
                                            <label for="description">Comment</label>
                                            <textarea formControlName="description" cols="4" rows="4"
                                                class="form-control"> </textarea>
                                        </div>
                                    </div>
                                    <button style="margin-left: 15px" class="btn btn-primary" [disabled]="purchaseOrderForm.invalid"
                                        (click)="addToCart()">Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 grid-margin stretc h-card">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Purchase Order Cart</h2>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table id="order-listing" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>Product</th>
                                                        <th>Price</th>
                                                        <th>Qty</th>
                                                        <th>Comment</th>
                                                        <th>#Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr *ngFor="let product of items; let i = index">
                                                        <td>{{ i+1 }}</td>
                                                        <td>{{ product.name }}</td>
                                                        <td>{{ product.price }}</td>
                                                        <td>{{ product.quantity }}</td>
                                                        <td>{{ product.description }}</td>
                                                        <td>
                                                            <a class="confirm" (click)="removeFromCart(product)"><button class="btn-xs btn btn-danger ti-trash text-white"></button></a>
                                                        </td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                            <!-- {% if selected_products.count > 0 %} -->
                                            <button class="btn btn-success text-center" data-toggle="modal" 
                                                data-target="#poModal" *ngIf="items.length > 0">Submit Cart</button>
                                            <!-- {% endif %} -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="poModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Complete Purchase Order </h5>
          <button type="button"  #closebutton class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <form [formGroup] ="OrderAddressForm">
           
            <div class="form-group" *ngIf="userData.type == 'system'">
              <label for="company">Select Company</label>
              <select style="width: 100%" formControlName="company" class="form-control js-example-basic-single w-100 " required>
                <option value="">Please select </option>
                <option *ngFor="let company of companies" value="{{ company.company.id }}">{{ company.company.name }}</option>
              </select>
            </div>
           
            <div class="form-group p_name">
              <label for="address"> Delivery Address</label>
              <textarea required formControlName="address" type="text" class="form-control address">{{ address }}</textarea>
            </div>
            <button type="submit" class="btn btn-success confirm" (click)="addAddress()" [disabled]="OrderAddressForm.invalid">Complete Order</button>
          </form>
  
        </div>
      </div>
    </div>
  </div>