/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-toastr/toastr.css";

@import "./assets/dashboard/vendors/bundle.css";
@import "./assets/dashboard/vendors/slick/slick.css";
@import "./assets/dashboard/vendors/slick/slick-theme.css";
@import "./assets/dashboard/vendors/datepicker/daterangepicker.css";
@import "./assets/dashboard/vendors/dataTable/datatables.min.css";
@import "./assets/dashboard/assets/css/app.min.css";
@import "./assets/vendors/ti-icons/css/themify-icons.css";
@import "./assets/vendors/css/vendor.bundle.base.css";
/* @import "./assets/vendors/font-awesome/css/font-awesome.min.css"; */

@import "./assets/dashboard/custom.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

    .roboto-900{
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
    }

    .roboto-700{
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
    }

    .roboto-400{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }
    .box{
      background: #fff;
      padding: 0px;
      height: 95px;
      padding-left: 39px;
      padding-top: 35px;
    }

    .custom-blue {
      color: #2C13E7;
    }
    .custom-black{
      color: #3E3C4F;
    }
    .neg-margin-3{
      margin-top: -27px !important;
    }
    .uppercase{
      text-transform: uppercase !important;
    }
    .top-space{
      top: 14px;
      position: relative;
    }
    .cal-position{
      width: 56%;
      position: relative;
      top: 7px;
      right: -17px;
    }
    .pagination {
      display: inline-block;
    }

    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      border: 1px solid #ddd;
    }

    .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
    }

    .pagination a:hover:not(.active) {background-color: #ddd;}

    .pagination a:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .pagination a:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

html, body { height: 100%; }
body { margin: 0;  }

.mat-form-field-flex{
  position: relative;
  top: 6px;
  left: 2%;
  padding-left: 3px;
  padding-right: 4px;
}


.dropbtn {
  background-color: #ffffff;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  position: relative;
  top: -41px;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  bottom: 50px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
}
 

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  color: #000000;
  min-width: 160px;
  /* bottom: 50px; */
  /* opacity: 0.9; */
  z-index: 1;
}



.dropdown-content a {
  color: #080800 !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: radius 0px; ;
}

.dropdown-content a:hover { color: rgb(46, 45, 45) !important; }

.dropdown:hover .dropdown-content {
  display: block;
}
.mat-form-field-type-mat-date-range-input .mat-form-field-infix{
  width: 255px !important;
}