<main>





    <section class="section section-lg pb-50"
        style="background-image: url(../../../assets/front_end/assets/img/theme/customer.png); background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5  offset-lg-1 pb-100 bg-white border-radius pt-5">
                    <div class="" style="padding-left: 50px;">
                        <h1 class="text-vendease-p col-md-12">Want something that’s not listed? We can get it.</h1>


                        <form id="contact-form" [formGroup]=ContactUsForm>
                            <div class="col-md-12">
                                <div class="form-group mt-5">
                                    <div class="form-field">
                                        <div class="field-label">
                                            <span class="text-black-50">Name</span>
                                        </div>
                                        <input type="text" formControlName="name" class="form-control form-control-lg"
                                            required="" placeholder="Please tell us your name" id="id_name">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="field-label">
                                            <span class="text-black-50">Organization</span>
                                        </div>
                                        <input type="text" formControlName="organization"
                                            class="form-control form-control-lg" required=""
                                            placeholder="Your organisation" id="id_organisation">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="field-label">
                                            <span class="text-black-50">Phone Number</span>
                                        </div>
                                        <input type="text" formControlName="phone" class="form-control form-control-lg"
                                            required="" placeholder="Please enter your phone number" id="id_phone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <div class="form-field">
                                        <div class="field-label">
                                            <label class="text-black-50">Email address</label>
                                        </div>
                                        <input type="email" formControlName="email" class="form-control form-control-lg"
                                            required="" placeholder="Please enter your email" id="id_email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <div class="form-field">
                                        <div class="field-label">
                                            <span class="text-black-50">Request</span>
                                        </div>
                                        <textarea formControlName="message" cols="80" rows="4"
                                            class="form-control form-control-lg" required=""
                                            placeholder="Please type a message" id="id_message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <div class="form-field">
                                        <div class="field-label">
                                            <span class="text-black-50">Address</span>
                                        </div>
                                        <input type="text" formControlName="address"
                                            class="form-control form-control-lg" required=""
                                            placeholder="Please tell us your address" id="id_address">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="display" class=" offset-lg-5 offset-md-5 offset-sm-5">
                                <mat-progress-spinner mode="indeterminate" diameter='40' strokeWidth='3'>
                                </mat-progress-spinner>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" [disabled]="ContactUsForm.invalid" (click)="contactUs()"
                                    class="btn btn-primary btn-round btn-block btn-lg">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
